@import './components/folder-file/folder-file.scss';
@import './components/level-up/level-up.scss';
@import './components/path/path.scss';

* {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.file-manager {
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid rgb(128, 128, 128);
  position: relative;
  z-index: 1000;

  input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
}

a {
  color: #5f6368;
}
